<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actori Principali</title>
    <link rel="stylesheet" href="../static/styles/actors.css">
</head>
<body>
    <header>
        <h1>Actori Principali</h1>
    </header>
    <main>
        <div class="actors-grid">
            <div class="actor">
                <img src="../static/images/Charlie_Hunnam.jpeg" alt="Charlie Hunnam">
                <p>Charlie Hunnam</p>
            </div>
            <div class="actor">
                <img src="../static/images/Kate_Segal.jpeg" alt="Katey Sagal">
                <p>Katey Sagal</p>
            </div>
            <div class="actor">
                <img src="../static/images/Kim_Coates.jpeg" alt="Kim Coates">
                <p>Kim Coates</p>
            </div>
            <div class="actor">
                <img src="../static/images/Kurt_Sutter.jpeg" alt="Kurt_Sutter">
                <p>Kurt Sutter</p>
            </div>
            <div class="actor">
                <img src="../static/images/Maggie_Siff.jpeg" alt="Maggie Siff">
                <p>Maggie Siff</p>
            </div>
            <div class="actor">
                <img src="../static/images/Mark_Boone.jpeg" alt="Mark Boone">
                <p>Mark Boone</p>
            </div>
            <div class="actor">
                <img src="../static/images/Theo_Rossi.jpeg" alt="Theo Rossi">
                <p>Theo Rossi</p>
            </div>
            <div class="actor">
                <img src="../static/images/Tommy_Flangan.jpeg" alt="Tommy Falngan">
                <p>Tommy Flangan</p>
            </div>
        </div>
    </main>
</body>
</html>
