<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Actori Interstellar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>Actori principali</h1>
    <ul>
    	<li>
            <img src="{{ url_for('static', filename='images/Matthew McConaughey.jpeg') }}" alt="Matthew McConaughey" width="150">
            <p>Matthew McConaughey - Cooper</p>
        </li>
        <li>
            <img src="{{ url_for('static', filename='images/Jessica Chastain.jpeg') }}" alt="Jessica Chastain" width="150">
            <p>Jessica Chastain – Murph</p>
        </li>
        <li>
            <img src="{{ url_for('static', filename='images/Anne Hathaway.jpeg') }}" alt="Anne Hathaway" width="150">
            <p>Anne Hathaway – Dr. Amelia Brand</p>
        </li>
        <li>
            <img src="{{ url_for('static', filename='images/Mackenzie Foy.jpeg') }}" alt="ackenzie Foy" width="150">
            <p>Mackenzie Foy - Murph</p>
        </li>
        <li>
            <img src="{{ url_for('static', filename='images/Matt Damon.jpeg') }}" alt="Matt Damon" width="150">
            <p>Matt Damon - Dr. Mann</p>
        </li>
        <li>
            <img src="{{ url_for('static', filename='images/Timothée Chalamet.jpeg') }}" alt="Timothée Chalamet" width="150">
            <p>Timothée Chalamet - Tom</p>
        </li>
    </ul>
    <a href="/">Înapoi la pagina principală</a>
</body>
</html>

