<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Actori Principali - The Blacklist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Actori Principali</h1>
    <div class="container">

        <ul style="list-style: none; padding: 0;">
            <li>
                <h3>James Spader - Raymond "Red" Reddington</h3>
                <img src="{{ url_for('static', filename='images/james_spader.jpeg') }}" alt="James Spader" width="200">
            </li>

            <li>
                <h3>Harry Lennix - Harold Cooper</h3>
                <img src="{{ url_for('static', filename='images/harry_lennix.jpeg') }}" alt="Harry Lennix" width="200">
            </li>

            <li>
                <h3>Diego Klattenhoff - Donald Ressler</h3>
                <img src="{{ url_for('static', filename='images/diego_klattenhoff.jpeg') }}" alt="Diego Klattenhoff" width="200">
            </li>

            <li>
                <h3>Megan Boone - Elizabeth Keen</h3>
                <img src="{{ url_for('static', filename='images/megan_boone.jpeg') }}" alt="Megan Boone" width="200">
            </li>

            <li>
                <h3>Mozhan Marnò - Samar Navabi</h3>
                <img src="{{ url_for('static', filename='images/mozhan_navabi.jpeg') }}" alt="Mozhan Navabi" width="200">
            </li>

            <li>
                <h3>Ryan Eggold - Tom Keen</h3>
                <img src="{{ url_for('static', filename='images/ryan_eggold.jpeg') }}" alt="Ryan Eggold" width="200">
            </li>
        </ul>

        <a href="/">Înapoi la pagina principală</a>
    </div>
</body>
</html>

