<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Lose a Guy in 10 Days - Cast</title>
    <link rel="stylesheet" href="../static/cast.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1><span class="logo-text">MovieHub</span></h1>
    </header>

    <main>
        <section class="film-detail-page">
            <div class="film-detail-container">
            
                
                
             {{cast|safe}}

                <div class="button-group">
                    <button class="btn" onclick="window.location.href='/How-to-lose-a-guy-in-10-days'">Înapoi</button>
                </div>
            </div>
        </section>
    </main>

    <footer>
        &copy; 2025 MovieHub. Toate drepturile rezervate.
    </footer>

</body>
</html>
