<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Actori Principali</title>
    <link rel="stylesheet" href="../static/styles/Cast.css">
</head>
<body>
    <div class="container">
        <h1>Actori Principali</h1>
        
        <div class="actors-grid">
            <div class="actor"><img src="../static/images/Jason_Statham.jpeg" alt="Jason Statham"><p>Jason Statham</p></div>
            <div class="actor"><img src="../static/images/Jessica_Alba.jpeg" alt="Jessica Alba"><p>Jessica Alba</p></div>
            <div class="actor"><img src="../static/images/Sam_Hazeldine.jpeg" alt="Sam Hazeldine"><p>Sam Hazeldine</p></div>
            <div class="actor"><img src="../static/images/Tommy_Lee_Jones.jpeg" alt="Tommy Lee Jones"><p>Tommy Lee Jones</p></div>
            <div class="actor"><img src="../static/images/John_Cenatiempo.jpeg" alt="John Cenatiempo"><p>John Cenatiempo</p></div>
            <div class="actor"><img src="../static/images/Natalie_Burn.jpeg" alt="Natalie Burn"><p>Natalie Burn</p></div>
            <div class="actor"><img src="../static/images/Rhatha_Phongam.jpeg" alt="Rhatha Phongam"><p>Rhatha Phongam</p></div>
            <div class="actor"><img src="../static/images/Bonnie_Zellerbach.jpeg" alt="Bonnie Zellerbach"><p>Bonnie Zellerbach</p></div>
        </div>

        <a href="/" class="btn">Înapoi</a>
    </div>
</body>
</html>
