<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Descriere</title>
    <link rel="stylesheet" href="../static/styles/Descriere.css">
</head>
<body>
    <div class="container">
        <h1>Descrierea filmului</h1>
        <p class="description">
            Arthur Bishop, un asasin profesionist, este forțat să revină în lumea crimei atunci când iubita lui este răpită.
            Pentru a o salva, trebuie să elimine trei ținte imposibile, făcând ca fiecare moarte să pară un accident. Filmul combină acțiunea intensă cu o poveste captivantă despre loialitate, sacrificiu și supraviețuire.
        </p>
        <a href="/" class="btn">Înapoi</a>
    </div>
</body>
</html>
