<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <title>Cars (2006)</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/descriere_cars.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="movie_card">
      <div class="movie_img">
        <img src="{{ url_for('static', filename='images/descriere_fulger.png') }}" alt="Fulger McQueen">
      </div>

      <div class="bg-text">Cars</div>

      <div class="movie">
        <div class="movie_rating">7.2<i>/</i>10 <span>IMDb</span></div>
        <h3 class="movie_title">Cars</h3>

        <div class="movie_info">
          <span><i class="far fa-clock"></i> 1h 57min</span>
          <span><i class="fas fa-film"></i> Animation, Adventure, Racing, Family</span>
          <span><i class="far fa-calendar"></i> 2006</span>
        </div>

        <div class="movie_text">
          <p>{{ descriere_text }}</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

