<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Descriere - The Gentlemen</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/attributes.css') }}">
    <link
        href="https://fonts.googleapis.com/css2?family=Alata&family=Courgette&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Descriere</h1>
        <p>{{description}}</p>

        <div style="font-family: 'Alata', sans-serif; font-size: 1.4em;">
            <a href="{{ url_for('gentlemen') }}" class="back">Înapoi la film</a>
        </div>
    </div>
</body>

</html>