<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descriere</title>
    <link rel="stylesheet" href="../static/styles/description.css">
</head>
<body>
    <header>
        <h1>Descriere</h1>
    </header>
    <main>
        <p>*Sons of Anarchy* este un serial american de dramă și acțiune, creat de Kurt Sutter pentru FX. Difuzat inițial între 3 septembrie 2008 și 9 decembrie 2014, serialul urmărește viețile membrilor unui club de motocicliști din orașul fictiv Charming, situat în Valea Centrală a Californiei. Charlie Hunnam joacă rolul lui Jax Teller, care, după ce descoperă un manifest scris de tatăl său, fondator al clubului, începe să își pună întrebări despre sine, relațiile sale și club.</p>
        <p>Serialul explorează teme precum dragostea, fraternitatea, loialitatea, trădarea și izbăvirea, abordând în același timp subiecte precum vigilantismul, corupția guvernamentală și rasismul. Intriga serialului folosește clubul de motocicliști ca o analogie pentru transformarea umană.</p>
    </main>
</body>
</html>
