<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dynasty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dynasty.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <link
        href="https://fonts.googleapis.com/css2?family=Alata&family=Courgette&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Dynasty</h1>
        <div class="container-info">
            <section>
                <img src="{{ url_for('static', filename='images/dynasty_poster.jpg') }}" alt="Poster" class="poster">
            </section>
            <div class="info">
                <div class="details">
                    <p><strong>An: </strong>2017</p>
                    <p><strong>Sezoane: </strong>5</p>
                    <p><strong>Gen: </strong>Drama, Soap Opera</p>
                    <p><strong>Regizori: </strong>Michael Allowitz, Pascal Verschooris</p>

                </div>

                <div class="btn-group">
                    <a href="{{ url_for('dynasty_description') }}">Descriere</a>
                    <a href="{{ url_for('dynasty_cast') }}">Distribuție</a>
                </div>
                <div style="font-family: 'Alata', sans-serif; font-size: 1.4em;">
                    <a href="{{ url_for('index') }}" class="back">Înapoi la pagina principală</a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>