<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Descriere - The Gentlemen</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/attributes_gentlemen.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Playfair+Display&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
        <h1>Descriere</h1>
        <p>{{description | safe}}</p>

        <div style="font-family: 'Alata', sans-serif; font-size: 1.4em;">
            <a href="{{ url_for('gentlemen') }}" class="back">Înapoi la film</a>
        </div>
    </div>
</body>

</html>