<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cast - The Gentlemen</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/attributes_gentlemen.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Playfair+Display&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container" style="width: 70vw; position: relative; transform: translate(0, 0); top:0; left: 0;">
        <h1>Distributie</h1>
        <br>
        
         <div class="cast-list">
            {% for member in cast %}
                <div class="cast-member">
                    <img src="{{ url_for('static', filename='images/' + member['photo']) }}" alt="{{ member['name'] }}" class="cast-photo">
                    <h3>{{ member['name'] }}</h3>
                    <p><strong>Personaj:</strong> {{ member['character'] }}</p>
                    <p>{{ member['description'] }}</p>
                </div>
            {% endfor %}
        </div>

        <div style="font-family: 'Alata', sans-serif; font-size: 1.4em;">
            <a href="{{ url_for('gentlemen') }}" class="back">Înapoi la film</a>
        </div>
    </div>
</body>

</html>

