<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Seriale – Pagina Principală</title>
  <link rel="stylesheet" href="../static/styles/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="overlay"></div>
  <div class="container">
    <h1 class="welcome-message">Bun venit pe pagina ta de seriale preferate!</h1>
    <img src="../static/images/stranger-things-eleven-poster-864497.jpg" alt="Poster film" class="poster">
    <button class="btn-details" onclick="window.location.href='/serial_home'">🎬 Mai multe detalii</button>
  </div>
</body>
</html>