<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <title>HomePage - Movies</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alata&family=Courgette&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

<body>
    <div class="container">
        <h1>Bine ati venit pe site-ul nostru de filme și seriale!</h1>
        <h2>Aici puteți găsi detalii despre orice film sau serial, cu un simplu click.</h2>
        <div class="film-card">
            <a href="{{ url_for('gentlemen') }}">
                <img src="{{ url_for('static', filename='images/gentlemen_main_img.jpg') }}" alt="Poster Film"
                    class="film-poster">
            </a>
            <h2 style="margin-top: 0px;">The Gentlemen</h2>
            <p>Nobil din naștere. Criminal prin moștenire. O nouă clasă de infractori se ridică.</p>
        </div>
    </div>
</body>

</html>