{% extends "base.html" %}
{% block title %}Acasă{% endblock %}

{% block content %}
<div class="uk-text-center">
    <h1 class="uk-heading-medium">Filme / Seriale</h1>
    <p class="uk-text-lead">Proiect de prezentare: <strong>Bob Marley: One Love</strong></p>

    <img src="{{ url_for('static', filename='images/poster_official.jpg') }}" 
         alt="Poster Bob Marley" 
         class="uk-border-rounded uk-box-shadow-large uk-margin-large uk-width-1-2@s">
    <br>
    <a class="uk-button uk-button-primary uk-button-large" href="{{ url_for('film') }}">
        Vezi detalii despre film
    </a>
</div>
{% endblock %}

