<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/homepage.css">
  <title>Listă filme</title>
</head>
<body>

  <h1>Alege Filmul Preferat</h1>

  <p>Mai jos găsiți o listă cu filmele disponibile. Vă rugăm să dați click pe titlul filmului dorit pentru a afla mai multe detalii.</p>

  <h2>Filme Disponibile:</h2>

  <ul>
    <li>
      <a href="hot_fuzz">
	<img src="/static/photos/hot_fuzz.jpg" alt="Poster Hot Fuzz">
	<span>Hot Fuzz</span>
      </a>
    </li>
  </ul>

  </body>
