<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>Hot Fuzz</title>
  </head>
  <body>
    
    <div class="container">
      <h1>Hot Fuzz (2007)</h1>
      
      <div class="content-area">
	<div class="info-section">
	  <h2>Informații Scurte</h2>
	  <p><strong>Regia:</strong> Edgar Wright</p>
	  <p><strong>Genuri:</strong> Comedie, Acțiune, Polițist</p>
	  <p><strong>Durată:</strong> 121 minute</p>
	  <p><strong>Anul lansării:</strong> 2007</p>
	</div>

	<div class="links-section">
	  <a href="/hot_fuzz/cast">Descriere Film</a>
	  <a href="/hot_fuzz/description">Distribuție</a>
	  <a href="/" class="back-button">Înapoi la lista de filme</a>
	</div>
      </div>
      
      <div class="poster-area">
	<img src="/static/photos/hot_fuzz.jpg" alt="Poster Hot Fuzz">
      </div>
      
    </div>
    
  </body>
</html>
