<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sons of Anarchy</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    <header>
        <h1>Sons of Anarchy</h1>
    </header>
    <main>
        <div class="trailer">
            <iframe width="560" height="315" src="https://www.imdb.com/video/embed/vi4195396633/" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="buttons">
            <a href="/actors" class="button">Actori Principali</a>
            <a href="/description" class="button">Descriere</a>
        </div>
    </main>
</body>
</html>
