<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filme / Seriale</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body class="dark-background">
    <h1 class="homepage-title">Filme / Seriale</h1>
    <p class="homepage-subtitle">Mai jos găsiți o listă cu filmele disponibile. Vă rugăm să dați click pe titlul filmului dorit pentru a afla mai multe detalii.</p>

    <div class="card-container">
        <a href="/dark" class="info-card homepage-card">
            <div class="card-image" id="dark-card"></div>
            <div class="card-text">
                <h2>Dark</h2>
                <p>Intră în universul serialului thriller german plin de mister.</p>
            </div>
        </a>
    </div>
</body>
</html>
