<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Breaking Bad</title>
  <link rel="stylesheet" href="/static/styles/style.css" />
</head>
<body>

  <header>
  <div class="bb-header-glow">
    <h1 class="bb-title">
  <span class="element">
    <span class="atomic">35</span>
    Br
  </span>
  <span class="text">eaking</span>
  <span class="element">
    <span class="atomic">56</span>
    Ba
  </span>
  <span class="text">d</span>
</h1>
</div>

    <p class="tagline">"All bad things must come to an end."</p>
  </header>

  <div class="top-section">
  <div class="imdb-rating">
    <img src="/static/images/imdb-logo.png" alt="IMDb" class="imdb-logo" />
    <span class="rating">9.5/10</span>
  </div>

  <div class="nav-buttons">
  <a href="/breaking-bad" class="btn">Description</a>
    <a href="/breaking-bad/characters" class="btn">Characters</a>
    <a href="/breaking-bad/trailers" class="btn">Trailers</a>
  </div>
</div>


<div class="hero-wrapper">
  <img src="/static/images/breaking_bad.jpg" alt="Breaking Bad Banner" class="hero-image" />
</div>


<div class="details-box">
  <ul class="details-list">
    <li><strong>Release Year:</strong> 2008</li>
    <li><strong>Seasons:</strong> 5</li>
    <li><strong>Directors:</strong> Vince Gilligan, Michelle MacLaren, Adam Bernstein, Michael Slovis</li>
    <li><strong>Genres:</strong> Crime, Drama, Thriller</li>
  </ul>
</div>


  </div>
</body>
</html>
