{% extends "base.html" %}

{% block title %}JoJo's Bizarre Adventure - Trailers{% endblock %}

{% block content %}
<section class="trailers">
    <div class="container">
        <h2>JoJo's Bizarre Adventure Trailers</h2>
        <div class="trailer-grid">
            <div class="trailer">
                <h3>Phantom Blood</h3>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/DT0yV2ZYrBQ?si=1USvHyVj25v_KxnF" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
                </div>
            </div>
            <div class="trailer">
                <h3>Battle Tendency</h3>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/akrEeCatKg4?si=0-ALIr7oA12CEVr3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
                </div>
            </div>
            <div class="trailer">
                <h3>Stardust Crusaders</h3>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XKpD3WtFRCs?si=QIxpTAg95-EUf4yd" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
                </div>
            </div>
            <div class="trailer">
                <h3>Diamond is Unbreakable</h3>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/t8WxJVBhiTY?si=T6Uda1Cvm0sBb2oN" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
                </div>
            </div>
            <div class="trailer">
                <h3>Golden Wind</h3>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/R92KmKcg07Y?si=cvUASmWGHDK6sbO7" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
                </div>
            </div>
            <div class="trailer">
                <h3>Stone Ocean</h3>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/EeCX8Y0a278" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
