<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Mechanic: Resurrection</title>
    <link rel="stylesheet" href="../static/styles/PaginaPrincipala.css">
</head>
<body>
    <div class="container">
        <h1>Mechanic: Resurrection</h1>
        
        <div class="trailer">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zzn-UHaMLeA" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="buttons">
            <a href="/cast" class="btn">Distribuție</a>
            <a href="/descriere" class="btn">Descriere film</a>
        </div>
    </div>
</body>
</html>
