<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Stranger Things - Acasă</title>
  <link rel="stylesheet" href="../static/styles/serial_home.css">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">
 
</head>
<body>

<div class="hero">
  <div class="netflix-logo">NETFLIX</div>
  <div class="content">
    <h1>Stranger Things</h1>
    <p>Un grup de adolescenți descoperă un univers întunecat în spatele dispariției unui băiat — și al unui experiment secret guvernamental...</p>
    <div class="buttons">
      <div class="buttons">
        <button onclick="window.location.href='/descriere'" class="desc">📄 Descriere</button>
        <button onclick="window.location.href='/distributie'" class="cast">🎭 Distribuție</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
