<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8" />
  <title>The Prestige - Pagina Filmului</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/the_prestige.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="cover-image">
      <img src="{{ url_for('static', filename='images/the_prestige.jpg') }}" alt="The Prestige Poster">
    </div>

    <div class="content">
      <h3 class="title">The Prestige</h3>
      <p class="description">
        Doi iluzioniști talentați ajung rivali. Dorința de a fi cel mai bun îi duce spre decizii periculoase.
      </p>

      <div class="info-footer">
  <div class="tags">
    <a href="{{ url_for('the_prestige_description') }}" class="tag">Descriere</a>
    <a href="{{ url_for('the_prestige_cast') }}" class="tag">Actori</a>
  </div>

        <div class="rating-box">
          <div class="meta-data">
            <span class="movie-year">2006</span>
            <span class="movie-time">2h 10m</span>
          </div>
          <p class="rating-label">IMDB RATING</p>
          <div class="rating-div">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.9 25.65" width="24">
              <path fill="#FFD401" d="M14.1,0.43l3.44,8.05l8.72,0.78c0.39,0.03,0.67,0.37,0.64,0.76l-0.24,0.47l-6.6,5.76l1.95,8.54c0.09,0.38-0.15,0.75-0.53,0.84l-0.54-0.1l-7.5-4.48l-7.52,4.5c-0.33,0.2-0.76,0.09-0.96-0.24c-0.1-0.16-0.12-0.35-0.08-0.52l1.95-8.54l-6.6-5.76c-0.29-0.25-0.32-0.7-0.07-0.99l0.66-0.01l8.7-0.78l3.44-8.06c0.15-0.36,0.56-0.52,0.92-0.37Z" />
            </svg>
            <span class="rating-score"><strong>8.5</strong>/10</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Buton Înapoi -->
  <div class="back-wrapper">
    <a href="{{ url_for('index') }}" class="tag">← Înapoi la homepage</a>
  </div>
</body>
</html>
