<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Trailer Interstellar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>Trailer & Informații</h1>
    <p>Urmărește trailerul oficial:</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zSWdZVtXT7E" 
            title="Trailer Interstellar" frameborder="0" allowfullscreen></iframe>
    <p>Lansare: 2014<br>Regizor: Christopher Nolan<br>Gen: SF, dramă</p>
    <a href="/">Înapoi la pagina principală</a>
</body>
</html>

