<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Trailer - The Blacklist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Trailer The Blacklist</h1>
    <iframe width="560" height="315"
        src="{{ trailer.embed_url }}"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <p>{{ trailer.info }}</p>
    <a href="/">Înapoi</a>
</body>
</html>


