body {
    font-family: 'Merriweather', serif; /* or 'Playfair Display', serif */
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background-size: cover;
    align-content: center;
    padding: 30px;
}

h1 {
    font-family: 'Playfair Display', serif; /* formal, elegant header */
    font-size: 3em;
    margin-bottom: 0px;
}

p {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    text-align: justify;
    text-indent: 50px;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: auto;
    margin: auto auto;
    padding: 20px 60px 30px;
    background: rgba(254, 237, 214, 0.66);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;

}

a.back {
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    color: white;
    background-color: #333;
    padding: 12px 24px;
    border-radius: 30px;
    font-family: "Merriweather", serif;
    font-size: 1.2em;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

a.back:hover {
    background-color: #555;
    transform: scale(1.05);
}


.cast-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cast-member {
    width: 250px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.cast-photo {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
