body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    height: auto;
    margin: 20px auto;
    margin-bottom: 0px;
    padding: 5px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.film-card img {
    width: auto;
    height: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.film-poster {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.film-poster:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}